h1 {
    text-align: center;
}

main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.infoCard {
    border: 3px solid var(--blue-inet);
    border-radius: 8px;
    padding: 12px;
}*/

.aulaInfoLines {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ult-actualizacion {
    margin-top: 60px;
    color: rgba(77, 77, 77, 0.833);
    font-weight: 300;
    font-size: small;
}

.aulaInfoLine {
    font-size: 1.2rem;
}

.contact {
    width: 300px;
    padding: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-inet);
    border-radius: 8px;
    color: white;
}

.contact-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.ofertaFormativa {
    margin-top: 20px;
    border: 3px solid var(--blue-inet);
    border-radius: 8px;
    padding: 12px;
    width: 600px;
}

#map {
    height: 300px;
    width: 600px;

    border: 3px solid var(--blue-inet);
    border-radius: 8px;
}

.mailAndTel {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contactLine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.contactLine svg {
    width: 20px !important;
    height: 20px !important;
}


@media screen and (max-width: 700px) {
    #map {
        height: 300px;
        width: 90vw;
    }

    .filtersSectionContainer {
        width: 90vw
    }

    .ofertaFormativa {
        width: 90vw;
    }

    .filtersContainer {
        flex-direction: column;
        align-items: center;
    }
}