header {
    position: relative;
}

/* NAVBAR */

.navBar{
    height: 60px;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 0px #1a202c48;
    background-color: var(--blue-inet);
}

/* LOGO */

.logoContainer {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#imageLogo {
    width: 35px;
    height: 35px;
}

.title {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* NAVLIST */

.navList {
    display: flex;
    gap: 2rem;
    margin-right: 20px;
}

.navList li {
    list-style: none;
}

.navList li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navList li a:hover{
    color: #65b9fa;
}

/* MENU BUTTON */

.navBar .toggleMobileMenu{
    fill: white;
    cursor: pointer;
    display: none;
    margin-right: 16px;
}

.navBar .toggleMobileMenu svg{
    width: 30px;
    height: 30px;
}

.hideIcon{
    display: none;
}

/* DROPDOWN MENU */
.dropdownMenu{
    display: none;
    position: absolute;
    right: 1rem;
    top: 65px;
    width: 150px;
    height: 0;
    background-color: #1273bd;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} 

.open{
    height: 86.40px;
}

.dropdownMenu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownMenu li:last-child{
    border-top: 2px solid white;
}

.dropdownMenu li a{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
}
.dropdownMenu li:hover{
    background-color: #1686db;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.dropdownMenu li:hover:last-child{
    background-color: #1686db;
    border-radius: 0px 0px 10px 10px;
    color: white;
}



/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .navBar .navList{
        display: none;
    }

    .navBar .toggleMobileMenu {
        display: block;
    }

    .dropdownMenu{
        display: block;
    }
}