body{
position: relative;
}


.homeContainer {
    padding-bottom: 30px;
    margin: 0 20px;
    gap: 30px;

}


p{
margin: 0;
}



.centerHorizontally {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.titleContainer {
    background-color: var(--blue-inet);
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: var(--general-width);
    width: 100%;
    color: white;
}

.mainTitle{
font-size: 2rem;
line-height: 2.2rem;
margin-bottom: 4px;
text-align: center;
}

.subTitle{
font-size: 1.1rem;
margin-top: 4px;
font-weight: 700;
text-align: center;
}

.contentTitle{
font-size: 1.4rem;
font-weight: 800;
margin: 0;
color: var(--blue-inet) !important;
font-weight: 900;
}

.card{
    padding: 24px 32px;
    border-radius: 10px;
    max-width: var(--general-width);
}
.blue{
background: white;
color: black;
border: 3px solid var(--blue-inet);

}

.white{
background: white;
color: black;
border: 3px solid var(--blue-inet);
}

.textImage img{
width:inherit;
height: 100%;
border-radius: 12px;
max-width: var(--general-width);
width: 100%;
}

.card:first-child {
margin-top: 0px;
}
.card:last-child{
margin-bottom: 0px;
}

.ctoBtn {
    width: 100%;
    margin-top: 20px;
    padding: 16px;
    text-align: center;
    color: white;
    background-color: var(--blue-inet);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}