.centerHorizontally {
    display: flex;
    justify-content: center;
}

.dataTables_scrollHead {
    display: flex !important;
    justify-content: center !important;
}

#tableList,
#tableList_wrapper,
.dataTables_scroll {
    max-width: 80vw !important;
    position: relative;

}

.dataTables_scroll {
    overflow-x: scroll;
}

#tableList{
    overflow-x: scroll;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.loader {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.no-margin {
    margin: 0 !important;
}

.my-4 {
    margin: 16px 0;
}

#tableList tr {
    cursor: pointer;
}

.tableContainer {
    position: relative;
    margin-bottom: 20px;
}

.flapContainer {
    position: absolute;
    display: flex;
    width: 500px;
    top: 15px;
    left: 23px;
    z-index: 5;
}

.flap {
    border: 1px solid black;
    padding: 10px;
    padding-top: 5  px;
    border-radius: 10px;
    z-index: 5;
    font-weight: 600;
    cursor: pointer;
}

.tableBody {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    position: relative;
    padding: 16px;
    margin-top: 50px;
}

.activeFlap {
    color: white;
    background-color: #0e68af;
}


@media screen and (width < 480px) {
    #tableList tbody tr td {
        padding: 0px;
    }
}