.centerHorizontally {
    display: flex;
    justify-content: center;
    margin: 20px 5px;
}

.dataTables_scrollHead {
    display: flex !important;
    justify-content: center !important;
}

#tableList,
#tableList_wrapper,
.dataTables_scroll {
    max-width: 80vw !important;
}


.dataTables_scroll {
    overflow-x: scroll;

}

@media screen and (max-width: 480px) {
    #tableList tbody tr td {
        padding: 0px;
    }



}