.centerHorizontally {
    display: flex;
    justify-content: center;
}

.dataTables_scrollHead {
    display: flex !important;
    justify-content: center !important;
}

#tableList,
#tableList_wrapper,
.dataTables_scroll {
    max-width: 80vw !important;
    position: relative;

}

    #tableList, table[aria-describedby="tableList_info"] {
    width: 100% !important;
}

.dataTables_scroll {
    overflow-x: scroll;
}

#tableList{
    overflow-x: scroll;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}


.no-margin {
    margin: 0 !important;
}

.my-4 {
    margin: 16px 0;
}

#tableList tr {
    cursor: pointer;
}

.tableContainer {
    position: relative;
    max-width: var(--general-width);
    width: 90vw;
    display: flex !important;
    justify-content: center;
}

.listFlapContainer {
    position: absolute;
    display: flex;
    width: 500px;
    top: 15px;
    left: 23px;
    z-index: 5;
}

.tableBody {
    position: relative;
    padding: 24px;
    margin-top: 50px;
    border: 3px solid var(--blue-inet);
    border-radius: 10px;
    background-color: white;
    z-index: 10;
    max-width: var(--general-width);
    width: 100% !important  ;
}


@media screen and (width < 480px) {
    #tableList tbody tr td {
        padding: 0px;
    }
}