.mapContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.innerMapContainer {
    position: relative;
}

.mapFlapContainer {
    position: absolute;
    display: flex;
    width: 500px;
    top: -35px;
    left: 10px;
    z-index: 5;
}

.verticalSpacer {
    height: 50px;
    width: 100%;
}

/* SEARCH BAR */
#searchBarContainerHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#searchBarContainer {
    display: flex;
    justify-content: center;
    height: 45px !important;
    width: 600px;

}

#searchBarContainer input {
    min-width: 100px;
    flex-grow: 1;
    padding: 10px;
    font-size: 17px;
    background-color: var(--gray);
    border-top: 3px solid var(--blue-inet);
    border-bottom: 3px solid var(--blue-inet);
    outline: none;
}

.searchBarButton {
    cursor: pointer;
    background-color: transparent;
}

/* FILTERS */
.filterButton {
    background-color: #0E68AF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.filterButton svg {
    fill: white;
    width: 35px !important;
    height: 25px !important;
}

.searchButton {
    background-color: var(--gray);
    border-top: 3px solid var(--blue-inet);
    border-bottom: 3px solid var(--blue-inet);
    border-right: 3px solid var(--blue-inet);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.searchBarButton svg {
    width: 35px !important;
    height: 25px !important;
}




#map {
    height: 500px;
    width: var(--general-width);

    border: 3px solid var(--blue-inet);
    border-radius: 8px;
    z-index: 5;
}



@media screen and (max-width: var(--genetal-width)) {
    #map {
        height: 500px;
        width: 90vw;
    }

    .filtersSectionContainer {
        width: 90vw
    }

    .filtersContainer {
        flex-direction: column;
        align-items: center;
    }
}